@font-face {
  font-family: Roboto-Regular;
  src: url(./Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(./Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-Mono;
  src: url(./RobotoMono-VariableFont_wght.ttf);
}

html {
  font-size: 62.5%;
}

:root {
  --primary-color: #3affa0;
  --secondary-color: #b0ffd2;
  --text-white: #e1ffe8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto-Bold";
}

h1 {
  color: var(--text-white);
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1.5rem;
  margin: 0 0 3rem 0;
}

h2 {
  color: var(--text-white);
  font-size: 2.4rem;
  margin: 0 0 2rem 0;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-family: "Roboto-Mono";
  font-size: 1.6rem;
}

p {
  font-family: "Roboto-Regular";
  font-size: 1.6rem;
  line-height: 3.5rem;
  margin: 0 0 2rem 0;
}

a{
    text-decoration: none;
    color: black;
}

/* header */

header {
  height: 70vh;
  background: linear-gradient(rgba(0, 0, 0, 0.654), rgba(0, 0, 0, 0.549)),
    url(./markus-spiske-iar-afB0QQw-unsplash.jpg) no-repeat center;
  background-size: cover;
  padding: 12rem 5rem 5rem 5rem;
}

header p {
  color: var(--text-white);
  font-size: 2rem;
}

/* main */

main {
  background-color: black;
}

.grid-sec {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  padding: 4rem 4rem 0 4rem;
}

article {
  background-color: var(--primary-color);
  border-radius: 40px;
  padding: 3rem;
}

.installation-art {
  grid-column: 1 / span 2;
}

article div {
  background-color: var(--text-white);
  border-radius: 20px;
  padding: 2rem;
}

article div p {
  background-color: var(--secondary-color);
  padding: 0 0 0 0.5rem;
}

/* footer */

footer {
  height: 20vh;
  background-color: black;
}